# tell docker what version of the docker-compose.yml we're using
version: '3'
# define the network
networks:
  web-network:
# start the services section
services:
  # define the name of our service
  # corresponds to the "--name" parameter
#  docker-php-cli:
#    build: 
#      context: ./php-cli
#    tty: true
#    volumes:
#      - ../web:/var/www
#    networks:
#      - web-network
  docker-nginx:
    build: 
      context: ./nginx
    # defines the port mapping
    # corresponds to the "-p" flag
    ports:
      # Vue
      - "8080:8080"
      # Demo-app
      - "2027:2027"
      
      # Web
      - "80:80"
      # Janpoweb
      - "81:81"
      # basketball
      - "82:82"
      # JiuRu
      - "83:83"
      # Integrate
      - "84:84"
      # swtc_swmjob
      - "61:61"
      # swtc_pdmerp
      - "62:62"
      # geotech
      - "2021:2021"
      - "2022:2022"
      
      # GoShopping
      - "888:888"
      
      # 模板
      - "99:99"
    tty: true
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ../web:/var/www
      - ./nginx/conf.d:/etc/nginx/conf.d
    networks:
      - web-network
  docker-php-fpm:
    build: 
      context: ./php-fpm8
    tty: true
    volumes:
      - ../web:/var/www
      - ./php-fpm8/openssl.cnf:/etc/ssl/openssl.cnf
      - ./php-fpm8/php.ini:/usr/local/etc/php/php.ini
    networks:
      - web-network
  docker-mysql:
    build: 
      context: ./mysql
    volumes:
      - ~/mysql-docker-data:/var/lib/mysql
    ports:
      - 3306:3306
    environment:
      TZ: Asia/Taipei
      MYSQL_ROOT_PASSWORD: Aa123456
      MYSQL_DATABASE: mydb
    networks:
    - web-network
  redis:
    image: redis:5.0.5-alpine
    container_name: "redis"
    ports:
      - "6379:6379"
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - web-network
    